:root {
    --primary-color: #2463FF;
    --secondary-color: #FFF;
    --background-color: #261676;
    --body-color: #887DC0;
    --opaque-top: #0043ece2;
    --opaque-background: #26167677;
    --font-XL: 3rem;
    --font-large: 2.5rem;
    --font-medium: 1.5rem;
    --font-small: 2rem;
    --font-body: 1rem;
    --menu-gap: 1rem
}